<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="blogs content">
                <h2>About Cohoster</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab, dolore optio tempore quo animi pariatur cum fugiat earum, ipsum odio nulla eos repellat! Pariatur nisi alias maxime temporibus sed? Earum maxime nulla eveniet asperiores,
                    placeat praesentium inventore nesciunt vero? Autem culpa, doloribus nesciunt, harum exercitationem quam ab sed veniam quis at est error eligendi quod, repellat minus sapiente quibusdam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et magnam quas facere ullam iusto totam voluptatem nisi. Vel, blanditiis odit quam consequatur unde, commodi omnis harum suscipit nostrum voluptates enim. Quisquam consectetur magni
                    sunt optio accusamus voluptates rem quasi id neque aliquid. Temporibus, fugiat a possimus voluptate veritatis culpa nam labore id dolore quae voluptas quasi ducimus, iste cumque dolorum.</p>
            </div>

            <%- include('./partials/footer.ejs') %>
    </body>

</html>